@import "tailwindcss";

@layer base {
  :root {
    --font-playfair: var(--font-playfair);
    --font-inter: var(--font-inter);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair);
  }

  body {
    font-family: var(--font-inter);
    background-color: #fafafa; /* Light neutral tone */
  }
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
}
